.buttons {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.button:not(:first-child) {
    margin-left: 20px;
}

.marginBetweenBtn50:not(:first-child) {
    margin-left: 50px;
}

.button:hover path {
    fill: #ffde66;
}

.fillGray path {
    fill: #999;
}
