.wrap {
    position: relative;
    display: flex;
    width: 98%;
    justify-content: center;
    margin-bottom: 76px;
}

.BannerLesson {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    min-height: 328px;
    height: 100%;
    width: 92%;
    max-width: 1100px;
    justify-content: center;
}
.HeaderContainer {
    display: flex;
    width: 100%;
    max-width: 1100px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.BannerLessonContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 55%;
    background-image: linear-gradient(0deg, #f2f1ef, #f2f1ef);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 40px 0 40px 48px;
}
.BannerLessonDescWrap {
    margin-bottom: 44px;
}
.BannerLessonBackground {
    width: 45%;
    background-image: url('/img/bannerLesson/BannerLesson-background.png');
    background-color: #f2f1ef;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 0;
}

.BannerLessonText {
    color: #000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: start;
    margin: 0;
}

.BannerLessonTitle {
    line-height: 40px;
}

.BannerLessonSubtitle {
    line-height: 24px;
}

.star {
    position: absolute;
    top: -50px;
    right: -50px;
    z-index: 10;
    width: 200px;
    height: 200px;
    background-image: url('/img/bannerLesson/BannerLessonStar1.svg');
    background-repeat: no-repeat;
    background-position: center;
    animation: star 2s linear infinite;
}
.starText {
    position: absolute;
    top: -50px;
    right: -50px;
    z-index: 4;
    width: 200px;
    height: 200px;
    background-image: url('/img/bannerLesson/BannerLessonStar2.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    animation: starText 2s linear infinite;
}
@keyframes star {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes starText {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 320px) {
    .BannerLessonDescWrap {
        margin-left: -30px;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: left;
        width: 80%;
    }
    .BannerLessonContent {
        padding: 0;
    }
    .BannerLessonBackground {
        width: 100%;
        height: 194px;
    }
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 100%;
        margin-bottom: 40px;
    }

    .BannerLesson {
        box-sizing: border-box;
        flex-direction: column;
        max-width: 768px;
        height: 100%;
        width: 100%;
    }
    .BannerLessonDescWrap {
        margin-bottom: 20px;
    }
    .BannerLessonBackground {
        width: 100%;
        height: 360px;
        background-size: cover;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-position: center;
        margin: -33px 0 0 0;
    }
    .BannerLessonContent {
        align-items: center;
        width: 100%;
        padding-top: 16px;
        padding-left: 16px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-sizing: border-box;
    }

    .star, .starText {
        display: none;
    }
    .BannerLessonSubtitle {
        font-weight: 500;
        line-height: 25px;
    }
    .BannerLessonTitle {
        font-weight: bold;
        line-height: 32px;
    }
    .BannerLessonBtnWrap {
        width: 187px;
    }
}
@media screen and (max-width: 320px) {
    .star, .starText {
        display: none;
    }
    .wrap {
        margin-bottom: 40px;
    }
    .BannerLessonBtnWrap {
        width: 289px;
        height: 52px;
    }

    .BannerLessonDescWrap {
        margin-left: -30px;
        margin-right: 0;
        text-align: left;
        width: 80%;
    }
    .BannerLessonContent {
        padding: 0;
    }
    .BannerLessonBackground {
        width: 100%;
        height: 220px;
    }
}
