.common {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.link {
    padding: 3px 0;
    text-decoration: none;
    color: #000;
    border-bottom: #ffe482 3px solid;
}

.white {
    color: #fff;
    fill: #fff;
    stroke: #fff;
}

.icon {
    margin-left: 15px;
}
.iconSmall {
    margin-left: 0;
}
