.wrap {
    background: #fff;
    margin-bottom: 70px;
    width: 100%;
}

.title {
    margin: 0 0 24px 10px;
    background: #fff;
}

.subtitle {
    display: flex;
    margin: 0 0 42px 10px;
    background: #fff;
}

.bountyItems {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.photos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background: #fff;
    width: 100%;
}

.photo_mail,
.photo_school_bday,
.photo_conference {
    border: solid #f6f7f8 7px;
    max-width: 364px;
    min-width: 32%;
    object-fit: cover;
    box-sizing: border-box;
    box-shadow: 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 100px 80px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    margin: 0 5px;
}

.photo_mail {
    transform: rotate(-2deg);
}

.photo_school_bday {
    transform: rotate(2deg);
}

.photo_conference {
    transform: rotate(-2deg);
}
.cardHidden {
    display: none;
}

.blockHidden {
    justify-content: space-between;
    margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
    .title,
    .subtitle,
    .link {
        padding-left: 5%;
    }

    .bountyItems {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        padding-top: 30px;
    }
    .sliderMargin {
        margin: 0 20px;
    }
    .blockHidden {
        display: none;
    }
    .cardHidden {
        display: flex;
    }
    .photos {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .photo_mail,
    .photo_school_bday,
    .photo_conference {
        box-shadow: none;
        margin: 0 10px;
        width: 340px;
    }
}

@media (max-width: 768px) {
    .photo_mail,
    .photo_school_bday,
    .photo_conference {
        margin: 0 20px;
        min-width: 300px;
    }
}

@media (max-width: 320px) {
    .title,
    .subtitle {
        margin-left: 0;
    }

    .title {
        margin-bottom: 10px;
    }

    .subtitle {
        margin-bottom: 13px;
    }

    .sliderMargin {
        margin: 0 8px;
    }

    .photo_mail,
    .photo_school_bday,
    .photo_conference {
        box-shadow: none;
        margin: 0 8px;
        min-width: 179px;
    }
    .bountyItems {
        margin-bottom: 0;
    }

    .photos {
        margin-bottom: 0;
    }

    .wrap {
        margin-bottom: 44px;
    }
}
