.blockForYou {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 76px;
}

.content {
    display: grid;
    width: 100%;
    margin: 24px 0;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.contentColumnFirst {
    grid-area: 1 / 1 / 2 / 2;
}

.contentColumnSecond {
    grid-area: 1 / 2 / 2 / 3;
}

@media (max-width: 1100px) {
    .blockForYou {
        padding: 0 5%;
    }
}
@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        margin: 13px 0 16px;
    }
    .blockForYou {
        margin-bottom: 43px;
    }
}
