.card {
    display: flex;
    box-sizing: border-box;
    min-height: 240px;
    min-width: 250px;
    border-radius: 16px;
    flex-direction: column;
    padding: 0 20px 4px;
    margin: 0 3px;
}

.cardYellow {
    background-color: #ffe482;
    height: 100%;
}
.cardGarant {
    background-color: #ffe482;
    height: 100%;
}
.cardGray {
    background-color: #f5f6f7;
    height: 100%;
    min-width: 210px;
}
.cardBounty {
    background-color: #f5f6f7;
    height: 100%;
}

.cardContent {
    position: relative;
    bottom: 32px;
    display: flex;
    flex-direction: column;
    background: none;
}

.cardImg {
    margin: 0 auto 9px;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
.cardProf {
    background-color: #ffe482;
    margin: 0;
}
.cardFormat,
.cardComposition {
    background-color: #f5f6f7;
    margin: 0;
}
.cardTextWrap {
    color: #000;
    text-align: start;
    margin-top: auto;
    width: 100%;
    margin-left: 20px;
    white-space: pre-line;
}

.cardTitle {
    margin-bottom: 9px;
}

.cardComposition .cardImg {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin-bottom: 20px;
}
.cardComposition .cardContent {
    bottom: 16px;
}

.cardBounty .cardImg {
    margin-bottom: 16px;
}

@media (max-width: 320px) {
    .card {
        min-width: 160px;
        min-height: 160px;
        padding: 0 16px 4px;
    }
    .cardGarant .cardImg {
        width: 100px;
        height: 100px;
        background-size: cover;
        margin-bottom: 15px;
    }

    .cardGarant .cardTitle {
        margin-bottom: 5px;
    }

    .cardProf {
        width: 160px;
        height: 164px;
    }
    .cardBounty .cardImg {
        width: 101px;
        height: 101px;
        background-size: 80px, 101px;
    }
    .cardProf .cardImg {
        width: 80px;
        height: 80px;
        background-size: cover;
        margin-bottom: 18px;
    }

    .cardFormat {
        width: 160px;
        height: inherit;
    }
    .cardFormat .cardImg {
        width: 80px;
        height: 80px;
        background-size: cover;
        margin-bottom: 20px;
    }
    .cardComposition {
        width: 160px;
        height: 200px;
    }
    .cardComposition .cardImg {
        width: 80px;
        height: 80px;
        background-size: cover;
        margin-bottom: 26px;
    }
    .cardComposition .cardTitle {
        margin-bottom: 5px;
    }
}
