.modules {
    z-index: 1;
    width: 100%;
}

.title {
    margin-bottom: 20px;
}

.description {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 1116px;
    margin: 0 auto 2px;
}
.ModulesWrap {
    margin-bottom: 64px;
    width: 100%;
}

@media (max-width: 1100px) {
    .title,
    .description,
    .link {
        padding-left: 5%;
    }

    .cards {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .title {
        margin-bottom: 16px;
    }
    .description {
        margin-bottom: 16px;
    }
    .ModulesWrap {
        margin-bottom: 40px;
    }
    .cards {
        display: flex;
        width: 100%;
        height: auto;
        padding-top: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
    }

    .link {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .description {
        margin-bottom: 16px;
        width: 265px;
    }
    .ModulesWrap {
        margin-bottom: 28px;
    }

    .cards {
        padding-left: 15px;
        width: 97%;
    }
}
