.tiltCard {
    position: relative;
    width: 528px;
    height: 620px;
    background-color: #f5f6f7;
    border-radius: 16px;
}

@media screen and (max-width: 1200px) {
    .tiltCard {
        /* max-width: 288px; */

        /* max-height: 338px; */

        /* margin-left: 40px; */

        /* margin-bottom: 32px; */
    }
    .tiltCard > img {
        max-width: 300px;

        /* margin-bottom: 20px; */
    }
    .img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .tiltCard {
        margin-left: 0;
        max-height: 338px;
        max-width: 288px;
        margin-bottom: 28px;
    }
}

@media (max-width: 320px) {
    .tiltCard {
        width: 97%;
    }
}
