.button {
    position: relative;
    height: 60px;
    width: 100%;
    padding: 22px 40px;
    background: #ffd22e;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background: rgba(255, 211, 45, 0.91);
}
.arrow {
    display: none;
}
.animateBtn {
    /* animation: btnAnimation 2s linear infinite; */
    &.button {
        z-index: 22;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 12px;
            min-width: 100px;
            background: #ffd22e;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-family: Roboto, sans-serif;
            font-weight: bold;
            cursor: pointer;
            z-index: -1;
            animation: btnAnimation 2s linear infinite;
        }
    }
}
@keyframes btnAnimation {
    0% {
        padding: 22px 42px;
    }
    50% {
        padding: 28px 46px;
    }
    100% {
        padding: 22px 42px;
    }
}

@media screen and (max-width: 768px) {
    .arrow {
        display: none;
    }
    .button {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        height: 65px;
        color: #333;
        box-shadow: 0 5.65259px 5.78559px rgba(255, 210, 46, 0.306958);
        margin: 0 auto;
        line-height: 52px;
    }
}
@media screen and (max-width: 320px) {
    .button {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 52px;
        max-width: 288px;
        line-height: 65px;
        padding: 0;
    }
    .button span {
        width: 100%;
    }

    .animateBtn {
        &.button {
            z-index: 22;
            position: relative;
            &:before {
                width: 204px;
            }
        }
    }
}
