.tiltCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 126px;
    width: 100%;
}

.tiltCardsHalf {
    display: flex;
}
.TextTitleWrapper {
    max-width: 85%;
}
.TextDescWrapper {
    max-width: 88%;
}
.tiltCardsHalf:first-child {
    margin-bottom: 27px;
}

.tiltCardsPart {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 585px;
    min-width: 585px;
}

.tiltCardsPart:last-child {
    justify-content: flex-end;
    text-align: right;
}

.textWrapper {
    position: relative;
    right: 76px;
}

.partThree div:last-child {
    z-index: 2;
}

.partOne p {
    margin-bottom: 20px;
}

.partTwo h2 {
    padding-top: 35px;
}

.partThree h2 {
    padding-bottom: 40px;
}

.partFour h2 {
    padding-top: 15px;
    padding-bottom: 10px;
}
.TextContainer {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1200px) {
    .tiltCardsContainer {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .cardWrapper {
        width: 97%;
    }

    .tiltCardsHalf {
        justify-content: flex-start;
        flex-direction: column;
        max-width: 100%;
    }
    .partTwo > .textWrapper {
        right: 0;
        order: 2;
        align-self: flex-start;
        max-width: 85%;
        margin-bottom: 30px;
    }
    .partTwo h2 {
        padding-top: 0;
    }
    .partThree h2 {
        padding-bottom: 0;
    }
    .tiltCardsPart:last-child {
        text-align: left;
    }
    .partTwo > .cardWrapper {
        order: 3;
    }
    .partFour > .cardWrapper {
        order: 2;
    }
    .partFour > .textWrapper {
        right: 0;
        order: 1;
        margin-bottom: 12px;
    }
    .tiltCardsHalf:first-child {
        margin-bottom: 0;
    }
    .tiltCardsPart {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 320px) {
    .tiltCardsPart {
        min-width: 100%;
        width: 100%;
    }

    .tiltCardsPart:last-child {
        margin-bottom: 10px;
    }

    .partThree img {
        width: 130%;
        height: 130%;
    }

    .partFour img {
        width: 115%;
        height: 115%;
    }

    .tiltCardsContainer {
        max-width: 320px;
        margin-bottom: 28px;
    }

    .TextTitleWrapper {
        max-width: 100%;
        margin-bottom: 5px;
    }

    .partTwo > .textWrapper {
        margin-bottom: 18px;
    }

    .partOne h2,
    .partOne p {
        padding-bottom: 0;
    }

    .partOne p {
        margin-bottom: 10px;
    }

    .partTwo h2 {
        padding-top: 13px;
    }

    .partThree h2 {
        padding-bottom: 0;
    }

    .partFour h2 {
        padding-top: 0;
        padding-bottom: 15px;
    }
    .TextDescWrapper {
        max-width: 100%;
        margin-bottom: 0;
    }
}
