.Container {
    display: flex;
    margin-bottom: 72px;
    flex-direction: column;
    width: 100%;
}
.CardCompositionTextWrap {
    white-space: nowrap;
    width: 100%;
    margin-bottom: 50px;
    text-align: left;
}
.CardsWrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.CardItem {
    margin-bottom: 25px;
}

@media (max-width: 1100px) {
    .CardCompositionTextWrap,
    .link {
        padding-left: 5%;
        width: 100%;
        box-sizing: border-box;
    }

    .CardsWrap {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .Container {
        margin-bottom: 40px;
    }
    .CardsWrap {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 25px;
        margin-bottom: 7px;
    }

    .CardItem {
        margin: 0 8px;
    }
    .CardCompositionTextWrap {
        white-space: normal;
        margin-bottom: 15px;
    }
}
