.Container {
    display: flex;
    margin-bottom: 28px;
    flex-direction: column;
    width: 100%;
}
.CardFormatTextWrap {
    width: 100%;
    text-align: left;
}
.CardsWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 50px;
}

.CardItem {
    margin: 0;
}

@media (max-width: 1100px) {
    .CardFormatTextWrap {
        padding-left: 5%;
        width: 100%;
        box-sizing: border-box;
    }

    .CardsWrap {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .Container {
        margin-bottom: 44px;
    }
    .CardsWrap {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 26px;
    }
    .CardFormatTextWrap {
        margin-bottom: 12px;
    }
    .CardItem {
        margin: 0 8px;
    }
}
@media screen and (max-width: 320px) {
    .Container {
        margin-bottom: 8px;
    }
}
