.teacherWrap {
    position: relative;
    width: 218px;
    height: 210px;
}

.teacher {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .teacher {
        position: relative;
    }
    .teacherWrap {
        width: 105px;
        height: 105px;
    }
}
