.columnOne__first {
    position: relative;
    display: flex;
    width: 270px;
    height: 270px;
    flex-direction: column;
    text-align: start;
}

.columnOne__Img {
    position: absolute;
    top: 10px;
    right: -10px;
    background-repeat: no-repeat;
    background-position: center center, 0 -2px;
    width: 230px;
    height: 230px;
    cursor: pointer;
}

.columnOne__firstTitle {
    z-index: 10;
    width: 100px;
    margin-top: auto;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .columnOne__first {
        width: 268px;
        height: 268px;
    }
}
