.awssld {
    --loader-bar-color: transparent;
    --loader-bar-height: 0;
    --control-button-background: rgba(255, 210, 46, 0.9);
    --control-button-width: 60px;
    --control-button-height: 60px;
    width: 100%;
}

.awssld__content {
    background-color: transparent;
}

.awssld__content > img,
.awssld__content > video {
    border-radius: 16px;
    border: solid #f5f6f7 5px;
    box-sizing: border-box;
    width: 94%;
    position: relative;
}

.awssld__next {
    border-radius: 50%;
    background: url(../../../icons/bigArrow.svg) no-repeat -10px 2px;
}

.awssld__prev {
    border-radius: 50%;
    background: url(../../../icons/bigArrow.svg) no-repeat -10px 0;
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .awssld {
        --control-button-width: 50px;
        --control-button-height: 50px;
    }

    .awssld__next {
        background-size: contain;
        background-position: -6px 2px;
    }

    .awssld__prev {
        background-size: contain;
        background-position: -5px 1px;
    }
}