.popupWrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: popupOpen 200ms linear;
}

@keyframes popupOpen {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.popupClose {
    display: none;
}

.popupOverlay {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sliderWrap {
    position: absolute;
    z-index: 1000;
    width: 680px;
}

.photoWrap {
    width: 100%;
}

.btnClose {
    position: absolute;
    top: -16px;
    right: 0;
    z-index: 15;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 120px;
    background: rgba(255, 210, 46, 0.6) url(../../../icons/cross.svg) no-repeat center;
}

@media (max-width: 768px) {
    .sliderWrap {
        width: 95%;
    }
}

@media (max-width: 320px) {
    .sliderWrap {
        width: 300px;
    }

    .btnClose {
        width: 32px;
        height: 32px;
        background: rgba(255, 210, 46, 0.6) url(../../../icons/SmallCloseIcon.svg)
            no-repeat center;
    }
}
