.teacher {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.teacherLogo {
    position: absolute;
    top: -60px;
    left: -75px;
}

.teacherContent {
    margin: 44px 0 32px 130px;
}

.teacherLogoFirms {
    display: grid;
    padding: 10px;
    margin-top: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    justify-items: start;
    align-items: center;
}

.teacherLogoFirmsFourth {
    width: 200px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 768px) {
    .teacher {
        flex-direction: column;
    }

    .teacherLogo {
        position: relative;
        top: 0;
        left: 0;
    }

    .teacherContent {
        margin: 0;
    }

    .teacherLogoFirms {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .teacherLogoFirmsFourth {
        height: 15px;
        width: 98%;
    }
}
