.contentList {
    margin: 0;
    padding: 0;
}

.contentItem {
    position: relative;
    display: flex;
    list-style: none;
    margin-bottom: 10px;
    margin-left: 52px;
}

.contentTextLine {
    position: absolute;
    top: 10px;
    left: -52px;
    background-image: url(../../icons/longLine.svg);
    min-width: 52px;
    height: 2px;
}

.contentText {
    margin-left: 16px;
}
