.Container {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    width: 100%;
}
.CardProfessionsTextWrap {
    white-space: nowrap;
    width: 100%;
    text-align: left;
}
.CardsWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 60px;
}

.CardItem {
    margin: 0 5px;
    height: 240px;
}

@media (max-width: 1100px) {
    .CardProfessionsTextWrap {
        padding-left: 5%;
        width: 100%;
        box-sizing: border-box;
    }

    .CardsWrap {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .Container {
        margin-bottom: 13px;
    }
    .CardsWrap {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 55px;
    }

    .CardItem {
        margin: 0 8px;
        height: auto;
    }
    .CardProfessionsTextWrap {
        white-space: normal;
    }
}

@media screen and (max-width: 768px) {
    .CardsWrap {
        padding-left: 16px;
    }
}
