.badge {
    display: inline-block;
    padding: 4px 20px;
    background: rgba(255, 210, 46, 0.6);
    border-radius: 120px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
