.popupClose {
    display: none;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 336px;
    width: 100%;
    height: 312px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background: #f5f6f7;
    color: #000;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.card:hover {
    transform: translate(3px, -3px);
    box-shadow: 0 2.50747px 2.74791px rgba(0, 0, 0, 0.0124007),
        0 6.34158px 6.94968px rgba(0, 0, 0, 0.0177484),
        0 12.9362px 14.1767px rgba(0, 0, 0, 0.0222516),
        0 26.6462px 29.2013px rgba(0, 0, 0, 0.0275993), 0 73px 80px rgba(0, 0, 0, 0.04);
}

.cardContentText {
    padding: 36px 20px 24px 20px;
}

.cardContainer {
    padding: 20px;
}

.cardText {
    font-style: normal;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.cardTitle {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

.cardSubtitle {
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

.badgeWrap {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1020;
    background: none;
}
@media screen and (max-width: 768px) {
    .card {
        margin-right: 20px;
        height: 288px;
        min-width: 248px !important;
        max-width: 250px;
        box-sizing: border-box;
        margin-bottom: 0;
        padding-top: 20px;
    }
}
