/* footer {
    position: relative;
    width: 100%;
} */

.horizontalLine {
    position: relative;
    top: -4px;
    width: 100%;
    height: 4px;
    background-color: #309;
}

.footerContainer {
    display: flex;
    height: 120px;
    min-width: 100%;
    margin-top: 34px;
    margin-bottom: 40px;
}

.footerElem {
    margin: 0 20px;
}

.footerElem:first-child {
    margin-left: 0;
}

.footerElem:last-child {
    margin-right: 0;
}

.footerInfoWrapper {
    flex-direction: column;
    flex-grow: 1;
}

.footerInfoLinks * {
    display: inline-block;
}

.footerInfoLinks {
    display: flex;
    margin-bottom: 12px;
}
.linkBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 40px;
}
.footerInfoLink {
    color: #333;
}

.footerInfoLink:hover {
    color: #309;
}

.footerInfoLink p {
    text-decoration: underline;
}
.rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.smallBtn,
.addItem {
    display: none;
}
.rightBlock .footerInfo {
    display: none;
}

@media screen and (max-width: 768px) {
    .footerContainer {
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        padding: 0 16px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .footerElem {
        margin: 20px 0;
    }

    .networkButtonsWrapper {
        order: 2;
    }

    .footerInfoWrapper {
        flex-basis: 100%;
        flex-grow: 0;
        order: 4;
        margin: 32px 0 0;
    }

    .footerInfo p {
        font-size: 12px;
        line-height: 20px;
    }

    .footerInfoLinks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .rightBlock .footerInfo {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .footerContainer {
        margin-top: 20px;
        padding: 0 16px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    .smallBtn {
        display: flex;
        align-self: center;
        width: 208px;
    }
    .bigBtn,
    .bigItem {
        display: none;
    }
    .rightBlock {
        justify-content: space-between;
        flex-basis: 100%;
        order: 4;
    }
    .btnWrap {
        justify-content: space-between;
        flex-basis: 100%;
        margin-bottom: 42px;
    }
    .footerElem {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }
    .tBlock {
        display: none;
    }
    .addItem {
        display: flex;
    }
    .linkBlock {
        justify-content: space-between;
        flex: 1;
        height: 136px;
        margin-right: 0;
        flex-wrap: wrap;
    }
    .footerInfoLinks {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .footerInfoWrapper {
        margin-top: 24px;
        margin-bottom: 42px;
    }
}
