.videoWrap {
    position: relative;
    display: flex;
    height: 454px;
    border-radius: 8px;
}
.popupSubtitle {
    margin: 0;
}

@media screen and (max-width: 320px) {
    .videoWrap {
        height: 36vh;
    }
}
