.wrap {
    margin-bottom: 50px;
}

.reviewSliderWrap {
    width: 100%;
    box-sizing: border-box;
}

.ReviewContainer {
    /* width: 100%; */

    /* max-width: 1100px; */
}
.radioBtn {
    display: none;
}

.radioBtn:checked ~ .reviewSlide {
    display: grid;
}

.radioLabels {
    text-align: center;
}

.radioLabel {
    position: relative;
    bottom: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
}

.checkedLabel {
    background-color: #000;
    border: 4px solid #ffd22e;
}

.reviewHeader {
    margin-bottom: 23px;
}

.reviewSlide {
    position: relative;
    display: none;
    row-gap: 6px;
    grid-template-areas:
        'title title reviewer'
        'result result reviewer';
    padding: 5px 48px;
    background-color: #f5f6f7;
    border-radius: 16px;
}

.titleWrapper {
    position: relative;
    z-index: 250;
    display: flex;
    align-items: center;
    grid-area: title;
}

.resultInfoGridContainer {
    grid-area: result;
}

.resultFlexContainer {
    display: flex;
    align-items: baseline;
}

.beforeAfter {
    margin-right: 13px;
}

.before {
    flex-basis: 35%;
}

.delimeter {
    position: relative;
    align-self: center;
    flex-shrink: 0;
    width: 56px;
}

.delimeter > img {
    position: absolute;
    top: -60px;
    left: -11px;
    z-index: 150;
}

.reviewer {
    grid-area: reviewer;
    max-width: 320px;
}

.reviewerPhotoWrapper {
    position: relative;
    top: -33px;
    right: -51px;
}

.reviewerPhoto {
    cursor: pointer;
}

.reviewVideoPlayBtn {
    position: absolute;
    left: -8px;
    bottom: -4px;
    z-index: 200;
    cursor: pointer;
}

.reviewerInfo {
    position: relative;
    top: -29px;
    text-align: right;
}

.reviewerContacts {
    display: flex;
    justify-content: flex-end;
}

.reviewerContacts > * {
    margin-left: 10px;
}

.decorArrow {
    position: absolute;
    left: -60px;
    top: 16px;
    z-index: 100;
}

@media (max-width: 1100px) {
    .reviewHeader {
        padding-left: 5%;
    }

    .reviewSliderWrap {
        padding: 0 5%;
    }

    .ReviewContainer {
        width: 89%;
        margin: 0 auto;
    }

    .reviewerPhoto {
        width: 226px;
    }
}

@media screen and (max-width: 768px) {
    .reviewHeader {
        padding: 0 16px;
        margin-bottom: 20px;
    }

    .ReviewContainer {
        width: 85%;
    }

    .reviewSlide {
        row-gap: 0;
        grid-template-areas:
            'title reviewer'
            'result result';
        padding: 0 16px 40px;
        border-radius: 0;
    }

    .resultFlexContainer {
        flex-direction: column;
    }

    .beforeAfter {
        margin-right: 0;
    }

    .before {
        margin-bottom: 8px;
    }

    .delimeter {
        display: none;
    }

    .reviewer {
        max-width: 179px;
    }

    .reviewerPhotoWrapper {
        top: -13px;
        right: -11px;
    }

    .reviewerPhoto {
        width: 226px;
    }

    .reviewVideoPlayBtn {
        left: -12px;
        bottom: -6px;
        width: 97px;
    }

    .reviewerInfo {
        top: -9px;
    }

    .decorArrow {
        left: -10px;
        top: 23px;
        width: 68px;
    }
}

@media (max-width: 550px) {
    .ReviewContainer {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .reviewerPhoto {
        width: 120px;
    }
}

@media screen and (max-width: 320px) {
    .wrap {
        margin-bottom: 45px;
    }

    .ReviewContainer {
        width: 100%;
    }
    .resultFlexContainer {
        margin-top: 0;
    }
    .titleWrapper {
        margin-top: 2px;
    }
    .reviewer {
        max-width: 145px;
    }

    .reviewerPhotoWrapper {
        top: -11px;
        right: -26px;
    }

    .reviewerPhoto {
        width: 160px;
    }

    .reviewVideoPlayBtn {
        left: -9px;
        bottom: -4px;
        width: 73px;
    }

    .decorArrow {
        left: 0;
        top: 16px;
        width: 49px;
    }
}
