.blockTeam {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    margin-bottom: 76px;
}

.titleWrap {
    text-align: start;
    margin-bottom: 20px;
}

.subtitleWrap {
    text-align: start;
    margin-bottom: 36px;
}

.contentWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

.columnTwo {
    box-sizing: border-box;
    padding-top: 50px;
    width: 25%;
}

.CardWrap {
    width: 25%;
}

@media screen and (max-width: 1100px) {
    .titleWrap,
    .subtitleWrap,
    .link {
        padding-left: 5%;
    }

    .CardWrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: auto;
    }
    .CardWrap:nth-child(even) {
        padding-top: 20px;
    }
    .columnTwo {
        display: flex;
        padding-top: 0;
        margin: 0;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: auto;
    }
    .columnTwo .CardWrap {
        display: flex;
        flex-direction: row;
    }
    .contentWrap {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .blockTeam {
        margin-bottom: 40px;
    }
    .subtitleWrap {
        margin-bottom: 17px;
    }
}

@media (max-width: 320px) {
    .titleWrap {
        margin-bottom: 10px;
    }

    .contentWrap {
        margin-bottom: 40px;
    }

    .blockTeam {
        margin-bottom: 187px;
    }
}
