.Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    width: 100%;
}

.CardsWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.TextWrapHeader {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.TextWrapParagraph {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}

@media (max-width: 1100px) {
    .TextWrapHeader,
    .TextWrapParagraph {
        padding-left: 5%;
        width: 100%;
        box-sizing: border-box;
    }

    .CardsWrap {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .Container {
        /* margin-bottom: 50px; */
        margin-bottom: 10px;
    }

    .TextWrapParagraph {
        margin-bottom: 0;
    }

    .CardsWrap {
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        justify-content: flex-start;
        padding-top: 40px;
    }

    .CardItem {
        margin: 0 8px;
    }
}

@media (max-width: 320px) {
    .TextWrapHeader {
        margin-bottom: 9px;
    }

    .TextWrapParagraph {
        margin-bottom: 0;
    }
}
