.tableRow {
    position: relative;
    display: flex;
    align-items: center;
    height: 69px;
    padding: 0 40px;
    border-top: 3px solid #000;
    cursor: pointer;
}

.tableRow:hover {
    background-color: rgba(255, 210, 46, 0.32);
    border-top-color: #ffd22e;
}

.tableRow:hover .tdLeftSide,
.tableRow:hover .tdRightSide {
    display: none;
}

.tableRow:hover .trPhoto {
    display: block;
}

.tdLeftSide {
    width: 40%;
    padding-right: 20px;
    text-align: right;
}

.tdRightSide {
    width: 60%;
    padding-left: 20px;
    text-align: left;
}

.trPhoto {
    position: absolute;
    top: -100px;
    left: 60%;
    display: none;
}
